<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935557741201-e1n5mrk0rac4fa5134ifk08ls5hrke5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935557741201-e1n5mrk0rac4fa5134ifk08ls5hrke5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAzvdhzdjyConPUtXgUcJ7Bw7J5IyQKNcI</string>
	<key>GCM_SENDER_ID</key>
	<string>935557741201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-ebeb3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-ebeb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935557741201:ios:6c3b8bfe26825cde4c1d30</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-firebase-ebeb3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>